[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
attrs = '>=17.4.0'
requests = '>=2.19'
toml = '>=0.9.4'

[dev-packages]
py = '>=1.5.2'
flake8='>=3.5.0'
mypy="*"

[scripts]
grader='python -m pycanvasgrader'